
.login-header {
	background-repeat:repeat-x;
	background: url(images/background.png) repeat-x left top;
    text-align: center;
    height: 250px;
    font-size: 15em;
	color: #b8ddff;
    text-shadow: 1px 1px 10px #000;
	font-family:tahoma, arial, sans-serif;
}

.new-muda {
    border: 2px dashed #D1C7AC;
	margin-bottom:4px;
	padding:3px;
}

.muda-container {
	margin-top:8px;
	margin-bottom:4px;
}

.menu-container {
    height:25px;
	margin-bottom:8px;
}

.text-box {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	padding:3px;
	margin-right:1px;
	font-family:tahoma, arial, sans-serif;
}

.muda-now {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	background-color:#A9F5A9;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
}

.muda-later {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	background-color:#F2F5A9;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
}

.muda-done {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	background-color:#BDBDBD;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
}

.muda-note {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	padding:3px;
	font-family:tahoma, arial, sans-serif;
}

.btn {
	float: left;
	height: 20px;
	background: url(images/btn_stretch.png) repeat-x left top;
	padding: 3px;
	color: #fff;
	font-size: 1em;
	text-decoration: none;
    text-align: center;
	font-family:tahoma, arial, sans-serif;
    text-shadow: 1px 1px 5px #000;
}

.sbtn {
	float: left;
	height: 20px;
	background: url(images/btn_stretch.png) repeat-x left top;
	padding: 3px;
	color:black;
	font-size: 5em;
    text-align: center;
}

.muda-delete {
	background-color:#8A0808;
	font-family:entypo;
    font-size: 1.5em;
	width: 1em;
	padding: 0px;
}

.muda-all-button {
	background-color:#084B8A;
}

.muda-pri-button {
	background-color:#084B8A;
}

.muda-now-button {
	background-color:#088A08;
}

.muda-later-button {
	background-color:#868A08;
}

.muda-done-button {
	background-color:#2E2E2E;
}

.muda-note-button {
	background-color:#A4A4A4;
}

.muda-settings-button {
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	padding:0px;
	font-family:entypo;
    font-size: 1.6em;
	background-color:white;
	width: 2em;
}

.dirty {
    color: red;
}

.Wt-auth-logged-in {
    text-align: right;
}

.Wt-auth-icon {
    cursor: pointer;
    cursor: hand;
    padding-left: 4px;
    padding-right: 4px;
}

.Wt-auth-registration {
    width: 600px;
}
